{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <form class="creationForm my-6 w-2/3" method="POST"  enctype="multipart/form-data">{% csrf_token %}
         <back-anchor assetsUrl="https://softylus.com/studio-master/assets"></back-anchor>
        <div class="pages-content-container">
            <div class="pages-content-element">
                <p class="title">Location-based</p>
                <p class="paragraph">
                    A location-based AR experience uses GPS coordinates to place your AR content in a specific location.
                    You can read more <a class="link"
                        target="_blank"
                        href="https://medium.com/swlh/build-your-location-based-augmented-reality-web-app-a841956eed2c">here</a>,
                    or follow the steps below to get started now.
                </p>
            </div>
        </div>
        <div class="pages-content-container">
            <div class="pages-content-element">
                <p class="lead">1. Pick the location</p>
                <p class="paragraph">
                    Click to drop a pin on the map or enter exact GPS coordinates. You may enter up to 10 locations.
                    You can retrieve latitude and longitude from an address using <a target="_blannk" href="https://www.latlong.net/" class="link">this tool</a>.
                </p>
                <div class="coordinates-input-wrapper creationForm">
                    <div class="coordinates-input-container">
<!--                        <div id="div_id_Longitude" class="mb-3">-->
<!--                            <label for="id_Longitude" class="block text-gray-700 text-sm font-bold mb-2">-->
<!--                            Longitude-->
<!--                        </label>-->
<!--                        <input type="number" name="Longitude" class="numberinput focus:outline-none leading-normal px-4 rounded-lg border-gray-300 appearance-none text-gray-700 w-full border block py-2 bg-white"  id="id_Longitude"> -->
<!--                        </div> -->
<!--                            <div id="div_id_Latitude" class="mb-3">-->
<!--                            <label for="id_Latitude" class="block text-gray-700 text-sm font-bold mb-2">-->
<!--                            Latitude-->
<!--                        </label>-->
<!--                        <input type="number" name="Latitude"  class="numberinput focus:outline-none leading-normal px-4 rounded-lg border-gray-300 appearance-none text-gray-700 w-full border block py-2 bg-white"  id="id_Latitude">-->
<!--                        </div>-->
                            <div class="input-number-tags">
                                <p class="num-tags">1.</p>
                                <p class="num-tags" id="2">2.</p>
                            </div>
                            <div class="latitude-elements">
                                <label for="id_Latitude">Latitude:</label>
                                <input class="text-input coordinates-inputs is-latitude" type="number" name="Latitude" title="latitude1">
                            </div>
                            <div class="longitude-elements"><label for="id_Longitude">Longitude:</label>
                                <input class="text-input coordinates-inputs is-longitude" type="text" id="longitude1" name="longitude" title="longitude1">
                            </div>
                   </div>
                </div>
            </div>
        </div>
        <div class="pages-content-container">
            <map-pick-location></map-pick-location>
        </div>

        <div class="pages-content-container">
            <div class="pages-content-element">
                <p class="lead">2. Choose the content </p>
                <p class="paragraph">
                <p>Select the type of content you would like to link to your marker and then upload the file from your
                    computer.</p>
                <p class="bold">
                    Please check the file name and remove whitepaces.
                </p>
                <ul>
                    <li>3D Object (.gltf, .glb .zip; max size 50MB)</li>
                    <li>Image (.jpg, .png, .gif; max size 15MB)</li>
                    <li>Video (.mp4; max size 25MB)</li>
                </ul>
                </p>
                <label class="passive-button file-input">
                    <input id="content-file"   class="clearablefileinput " accept="*" type="file" name="Asset_File" hidden onchange="handleContentUpload(this)" />
                    Upload file
                </label>
                <p id="content-error" class="error"></p>
            </div>
            <div id="content-preview" target="content-file">
            </div>
       
        </div>

  <div class="creationForm grid grid-cols-2 gap-4">
    

        

<!-- <div id="div_id_Asset_File" class="mb-3"> 
    <label for="id_Asset_File" class="block text-gray-700 text-sm font-bold mb-2">
            Asset file
         </label>
          <input type="file" name="Asset_File" class="clearablefileinput " id="id_Asset_File"> 
           </div> -->
           
         <div id="div_id_Expiry_date" class="mb-3">
              <label for="id_Expiry_date" class="block text-gray-700 text-sm font-bold mb-2">
            Expiry date
        </label> 
        <input type="date" name="Expiry_date" class="datepicker1 dateinput focus:outline-none leading-normal px-4 rounded-lg border-red-500 appearance-none text-gray-700 w-full border block py-2 bg-white" placeholder="Select Date"  id="id_Expiry_date"> 
        
             </div>
              <div id="div_id_Expiry_time" class="mb-3">
                   <label for="id_Expiry_time" class="block text-gray-700 text-sm font-bold mb-2">
            Expiry time
         </label>
          <input type="time" name="Expiry_time" class="timeinput focus:outline-none leading-normal px-4 rounded-lg border-red-500 appearance-none text-gray-700 w-full border block py-2 bg-white"  id="id_Expiry_time"> <p id="error_1_id_Expiry_time" class="text-red-500 text-xs italic">
              <strong>This field is required.</strong></p> 
            </div>

    </div>
    <button class="bg-purple-800 text-white px-16 py-3 rounded outline-none block" type="submit" name="Submit">submit</button>
  </form>


{% endblock content %}
